@charset "UTF-8";

:root {
  --font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;

  --color-text: #24292f;
  --color-background: #F0F0F0;

  --color-panel-text: #222222;
  --color-panel-background: #e7ebee;
  --color-panel-border: #d3d3d3;
}

/* Use a more-intuitive box-sizing model. */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--font-default);
  font-size: 16px;
  line-height: 1.5;
  background: var(--color-background);
  color: var(--color-text);
}

html, body, .wrapper {
  min-height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: 25ch 1fr;
}

.panel {
  grid-column: 1;
  padding: 0;
  background: var(--color-panel-background);
  border-right: 1px solid var(--color-panel-border);
}

.panel h1 {
    padding: 10px 20px 0;
    margin: 0;
}

.content {
  grid-column: 2;
  padding: 20px;
  height: 100vh;
  overflow: hidden;
}

.page {
    text-align: center;
}

.page svg {
    max-width: 100%;
    height: calc(100vh - 40px);
}

.page svg rect {
    stroke-width: 0.25;
    stroke: #999999;
}

form {
    padding: 0 20px 20px;
}

select {
    font-size: 16px;
}

label {
    display: block;
}

fieldset {
    border: 0;
    padding: 0;
    cursor: default;
}

fieldset + fieldset {
    margin-top: 10px;
}

input[type="number"] {
    text-align: right;
}

input[type="submit"] {
    display: block;
    margin-top: 20px;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
}

.patterns {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 10px;
}

.patterns label input {
    display: none;
}

.patterns label {
    display: block;
}

.patterns label img {
    display: block;
    background: white;
    border: 1px solid #d3d3d3;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    height: auto;
    box-shadow: 0 -5px 10px inset rgba(0,0,0,0.1);
}

.patterns input:checked + img {
    border-color: #0b7fff;
    box-shadow: 0 -5px 10px inset rgba(0,0,0,0.1),
        0 0 0 1px #0b7fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #eaf3f2;
    --color-background: #282a3a;

    --color-panel-text: #888d94;
    --color-panel-background: #1e1f2b;
    --color-panel-border: #161821;
    --color-panel-current: #252633;
  }
}

@media print {
    body {
        background: none;
    }
    .wrapper {
        display: block;
    }
    .panel {
        display: none;
    }
    .content {
        padding: 0;
    }
    .page {
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: visible;
    }
    .page svg rect {
        stroke-width: 0;
    }
}