@charset "UTF-8";

:root {
  --font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  --font-size: 16px;
  --font-size-small: 12px;

  --color-text: #24292f;
  --color-background: #e7ebee;
  --color-content-background: #f0f0f0;

  --color-panel-text: #222222;
  --color-panel-border: #d3d3d3;

  --underline-opacity: 0.25;
  --color-link: #0969da;
  --color-link-underscore: rgba(9, 105, 218, var(--underline-opacity));
  --color-link-hover: #0969da;
  --color-link-hover-underscore: rgba(9, 105, 218, var(--underline-opacity));

  --border-radius: 4px;
}

/* Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--font-default);
  font-size: var(--font-size);
  line-height: 1.5;
  background: var(--color-background);
  color: var(--color-text);

  /* Prevent adjustments of font size after orientation changes */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body,
.wrapper {
  height: 100vh;
  height: -webkit-fill-available;
  overflow: hidden;
}

a {
  transition-property: color, border;
  transition-duration: 0.33s;
  transition-timing-function: ease-out;
  text-decoration: none;
  color: var(--color-link);
  border-bottom: 1px solid var(--color-link-underscore);
}
a:hover {
  color: var(--color-link-hover);
  border-color: var(--color-link-hover-underscore);
}

.panel {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 25ch;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.panel h1 {
  padding: 10px 20px 0;
  margin: 0;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
}

.actions button {
  display: block;
  width: 100%;
  font-size: var(--font-size);
  color: #24292f;
  background: #fff;
  border: 1px solid #d3d3d3;
  border-radius: var(--border-radius);
  padding: 5px 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  user-select: none;
}

.actions button:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.actions .show-preview,
.actions .hide-preview {
  display: none;
}

#preview {
  display: none;
}

.credit {
  font-size: var(--font-size-small);
  margin-top: 20px;
}

.panel {
  border-right: 1px solid var(--color-panel-border);
}

.content {
  position: fixed;
  left: 25ch;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 20px;
  overflow: hidden;
  background: var(--color-content-background);
}

.page {
  text-align: center;
}

.page svg {
  max-width: 100%;
  max-height: calc(100vh - 40px);
  height: -webkit-fill-available;
}

.page svg rect {
  stroke-width: 0.25;
  stroke: #999999;
}

form {
  padding: 0 20px;
}

select {
  font-size: var(--font-size);
  width: 100%;
}

label {
  display: block;
}

label.inline {
  display: inline;
}

label.full-width-label {
  display: flex;
  justify-content: space-between;
}

.field {
  border: 0;
  padding: 0;
  cursor: default;
}

.field + .field {
  margin-top: 10px;
}

input[type="number"] {
  font-size: var(--font-size);
  text-align: right;
  width: 8ch;
}

.patterns {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
}

.pattern input {
  display: none;
}

.pattern label {
  display: block;
}

/* class that starts with pattern-*/
[class^="pattern-"] {
  display: block;
  background: url("patterns.png") no-repeat;
  background-size: 600% 100%;
  border: 1px solid #d3d3d3;
  border-radius: var(--border-radius);
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1;
  box-shadow: 0 -5px 10px inset rgba(0, 0, 0, 0.1);
}

.pattern-lines {
  background-position: 20% 0;
}

.pattern-dot {
  background-position: 40% 0;
}

.pattern-diamond {
  background-position: 60% 0;
}

.pattern-rhombus {
  background-position: 80% 0;
}

.pattern-triangles {
  background-position: 100% 0;
}

.patterns input:checked + div {
  border-color: #0b7fff;
  box-shadow: 0 -5px 10px inset rgba(0, 0, 0, 0.1), 0 0 0 1px #0b7fff;
}

#picker {
  width: 2rem;
  height: 21px;
  border: 1px solid #d3d3d3;
  border-radius: var(--border-radius);
}

.github-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 0.1rem;

  background: url(GitHub-Mark-32px.png) center left no-repeat;
  background-size: 16px 16px;

  border: none;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #eaf3f2;
    --color-background: #1e1f2b;
    --color-content-background: #282a3a;

    --color-panel-text: #888d94;
    --color-panel-border: #444444;
    --color-panel-current: #252633;

    --color-link: #6bf;
    --color-link-underscore: rgba(102, 187, 255, var(--underline-opacity));
    --color-link-hover: #f8ff83;
    --color-link-hover-underscore: rgba(
      248,
      255,
      131,
      var(--underline-opacity)
    );
  }
  .github-icon {
    background-image: url(GitHub-Mark-Light-32px.png);
  }
}

@media print {
  body {
    background: none;
  }
  .wrapper {
    display: block;
  }
  .panel {
    display: none;
  }
  .content {
    padding: 0;
  }
  .page {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
  }
  .page svg rect {
    stroke-width: 0;
  }
}

@media screen and (max-width: 450px) { /* mobile */
  :root {
    --font-size: 20px;
  }
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
  }
  .panel {
    width: auto;
    right: 0;
    padding-bottom: calc(124px + 20px);
    border-right: 0;
  }
  .actions {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    border-top: 1px solid var(--color-panel-border);
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.1s linear;
    background: var(--color-background);
  }
  .scrolled .actions {
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.05);
  }
  .actions .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
  .actions button {
    padding: 10px;
  }
  .actions .show-preview {
    display: block;
  }
  .content {
    display: none;
  }

  .preview {
    position: relative;
    box-shadow: none;
  }
  .preview .wrapper {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100vh;
    height: -webkit-fill-available;
  }
  .preview .panel {
    grid-row: 2;
    padding: 0;
    position: relative;
  }
  .preview .panel h1,
  .preview .panel form {
    display: none;
  }
  .preview .actions {
    position: relative;
  }
  .preview .actions .show-preview {
    display: none;
  }
  .preview .actions .hide-preview {
    display: block;
  }
  .preview .content {
    display: block;
    grid-column: 1;
    grid-row: 1;
    position: relative;
    left: 0;
    top: 0;
    height: auto;
  }
  .preview .page svg {
    height: auto;
    max-height: calc(100% - 40px);
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }
}

@supports(padding: max(0px)) {
  @media screen and (max-width: 450px) { /* mobile */
    .content {
      padding-bottom: max(20px, env(safe-area-inset-bottom));
    }
  }
}

@media screen and (max-width: 350px) { /* ? */
  .may-hide {
    display: none;
  }
}
