@charset "UTF-8";

:root {
  --font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-monospace: iosevka-regular, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  --font-sans: iosevka-aile-regular, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-size: 16px;
  --font-size-small: 12px;

  --color-text: #24292f;
  --color-background: #e7ebee;
  --color-content-background: #f0f0f0;

  --color-panel-text: #222222;
  --color-panel-border: #d3d3d3;

  --underline-opacity: 0.25;
  --color-link: #0969da;
  --color-link-underscore: rgba(9, 105, 218, var(--underline-opacity));
  --color-link-hover: #0969da;
  --color-link-hover-underscore: rgba(9, 105, 218, var(--underline-opacity));

  --color-fieldset-border: rgba(0,0,0,0.1);

  --btn-disabled-color: #a3a3a3;
  --btn-disabled-background: #f0f0f0;
  --btn-disabled-border: #d3d3d3;

  --border-radius: 4px;
  --border-radius-big: 8px;

  --panel-width: 28ch;
}

/* Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

html {
  /* Prevent adjustments of font size after orientation changes */
  text-size-adjust : 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: var(--font-default);
  font-size: var(--font-size);
  line-height: 1.5;
  background: var(--color-background);
  color: var(--color-text);
}

html,
body,
.wrapper {
  height: 100vh;
  height: -webkit-fill-available;
  overflow: hidden;
}

a {
  transition-property: color, border;
  transition-duration: 0.33s;
  transition-timing-function: ease-out;
  text-decoration: none;
  color: var(--color-link);
  border-bottom: 1px solid var(--color-link-underscore);
}
a:hover {
  color: var(--color-link-hover);
  border-color: var(--color-link-hover-underscore);
}

fieldset {
  border-radius: var(--border-radius-big);
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-fieldset-border);
}

.panel {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--panel-width);
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.panel h1 {
  padding: 10px 20px 0;
  margin: 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.actions {
  position: fixed;
  bottom: 0;
  left: 0;
  right: calc(100% - var(--panel-width) + 1px);
  padding: 20px;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid var(--color-panel-border);
  box-shadow: 0 -5px 10px rgba(139, 142, 145, 0.2),
    inset 0 1px 0 0.5px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.1s linear;
  background: var(--color-background);
}

.scrolled .actions {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 0.5px rgba(255, 255, 255, 0.5);
}

.btn {
  font-size: var(--font-size);
  color: #24292f;
  background: #fff;
  border: 1px solid #d3d3d3;
  border-radius: var(--border-radius);
  padding: 5px 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  user-select: none;
}

.actions .btn {
  display: block;
  width: 100%;
  white-space: nowrap;
}

.btn:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn:disabled {
  box-shadow: none;
  background: var(--btn-disabled-background);
  border-color: var(--btn-disabled-border);
  color: var(--btn-disabled-color);
  opacity: 0.75;
}

.actions .show-preview,
.actions .hide-preview {
  display: none;
}

#preview {
  display: none;
}

.credit {
  font-size: var(--font-size-small);
  margin-top: 20px;
}

.panel {
  border-right: 1px solid var(--color-panel-border);
  box-shadow: 1px 0 0 0.5px rgba(255, 255, 255, 0.5);
  padding-bottom: calc(109px + 20px);
  z-index: 10;
}

.content {
  position: fixed;
  left: var(--panel-width);
  right: 0;
  top: 0;
  bottom: 0;
  padding: 20px;
  overflow: hidden;
  background: var(--color-content-background);
}

.canvas {
  text-align: center;
  height: 100%;
}

.canvas svg {
  max-width: 100%;
  max-height: calc(100vh - 40px);
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
}

.canvas svg rect {
  stroke-width: 0.25;
  stroke: #999999;
}

.page-nav {
  display: none;
  position: absolute;
  top: 50%;
  height: 45px;
  transform: translateY(-50%);
}

.page-nav.left {
  left: -43px;
}

.page-nav.right {
  right: -43px;
}

form {
  padding: 0 20px;
}

select {
  font-size: var(--font-size);
  width: 100%;
  overflow: hidden;
  border: 0.0625rem solid #c6c8ca;
}

label {
  display: block;
}

label.inline {
  display: inline;
}

label.full-width-label {
  display: flex;
  justify-content: space-between;
}

.field {
  border: 0;
  padding: 0;
  cursor: default;
}

.field + .field,
.field + fieldset,
fieldset + fieldset,
fieldset + .field {
  margin-top: 10px;
}

fieldset.disabled .field {
  opacity: 0.5;
}

fieldset.disabled .color button {
  cursor: default;
}

fieldset legend {
  white-space: nowrap;
}

.monthYear {
  display: flex;
  column-gap: 10px;
}

input[type="number"] {
  font-size: var(--font-size);
  text-align: right;
  width: 8ch;
}

input[type="number"]:disabled {
  color: #999999;
}

input[type="checkbox"] + span {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 30px);
}

.field.disabled {
  opacity: 0.5;
}

.field.color button {
  float: right;
  width: 8ch;
  font-size: var(--font-size);
  border: 1px solid #d3d3d3;
  cursor: pointer;
}

.field.disabled.color button {
  cursor: default;
}

.github-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 0.1rem;

  background: url(GitHub-Mark-32px.png) center left no-repeat;
  background-size: 16px 16px;

  border: none;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #d6dede;
    --color-background: #1e1f2b;
    --color-content-background: #282a3a;

    --color-panel-text: #888d94;
    --color-panel-border: #2e303e;
    --color-panel-current: #252633;

    --color-link: #6bf;
    --color-link-underscore: rgba(102, 187, 255, var(--underline-opacity));
    --color-link-hover: #f8ff83;
    --color-link-hover-underscore: rgba(
      248,
      255,
      131,
      var(--underline-opacity)
    );
    --color-fieldset-border: rgba(255,255,255,0.1);

    --btn-disabled-color: #999999;
    --btn-disabled-background: #282a3a;
    --btn-disabled-border: #6d717b;
  }
  .github-icon {
    background-image: url(GitHub-Mark-Light-32px.png);
  }
  select {
    background: #282a3a;
    color: #eaf3f2;
    border-color: #6e7072;
  }
  input[type="number"] {
    background: #3a3d4b;
    color: #d6dede;
    border: 1px solid #6d717b;
  }
  .field.color button {
    border: 1px solid #6d717b;
  }
  .actions {
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.4);
  }
  .scrolled .actions {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
  }
  .panel {
    box-shadow: none;
  }

  .btn {
    color: var(--color-text);
    border-color: #6d717b;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .btn:active {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
  }
}

@media print {
  body {
    background: none;
  }
  .wrapper {
    display: block;
  }
  .panel {
    display: none;
  }
  .content {
    padding: 0;
  }
  .canvas {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
  }
}

@media screen and (max-width: 450px) { /* mobile */
  :root {
    --font-size: 20px;
  }
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
  }
  .panel {
    width: auto;
    right: 0;
    border-right: 0;
    padding-bottom: calc(124px + 20px);
  }
  .actions {
    right: 0;
  }
  .actions .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
  .actions button {
    padding: 10px;
  }
  .actions .show-preview {
    display: block;
  }
  .content {
    display: none;
  }

  .preview {
    position: relative;
    box-shadow: none;
  }
  .preview .wrapper {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100vh;
    height: -webkit-fill-available;
  }
  .preview .panel {
    grid-row: 2;
    padding: 0;
    position: relative;
  }
  .preview .panel h1,
  .preview .panel form {
    display: none;
  }
  .preview .actions {
    position: relative;
  }
  .preview .actions .show-preview {
    display: none;
  }
  .preview .actions .hide-preview {
    display: block;
  }
  .preview .content {
    display: block;
    grid-column: 1;
    grid-row: 1;
    position: relative;
    left: 0;
    top: 0;
    height: auto;
  }
  .preview .canvas {
    height: 100%;
  }
  .preview .canvas svg {
    height: auto;
    max-height: calc(100% - 40px);
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }
}

@supports(padding: max(0px)) {
  @media screen and (max-width: 450px) { /* mobile */
    .content {
      padding-bottom: max(20px, env(safe-area-inset-bottom));
      padding-left: max(20px, env(safe-area-inset-left));
      padding-right: max(20px, env(safe-area-inset-right));
    }
  }
}

@media screen and (max-width: 355px) { /* ? */
  .may-hide {
    display: none;
  }
}
